*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background-color: #83aeff;
  border-radius: 15px;
}
body{
  overflow-x: hidden;
}
.box-page {
  display: flex;
  background-color: #192A51;
  overflow: hidden;
}
.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.login {
  width: 30%;
  min-height: 500px;
  min-width: 400px;
  background: #0000007a;
  border: 1px solid #ccc;
  padding-top: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #888888, -2px -2px 20px #333;
}
.login h2 {
  text-align: center;
  font-family: sans-serif;
  color: #e8e8e8;
}
.login form {
  height: 100%;
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 25px;
}
form label {
  width: 95%;
  height: 30px;
  display: flex;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0 5px;
  background-color: #32323299;
}
form input, form textarea {
  width: 95%;
  height: 30px;
  padding: 5px;
  border: none;
  transition: 0.2s;
  border-radius: 5px;
  outline: none;
  font-family: sans-serif;
}
form #submit {
  width: 50%;
  height: 40px;
  background-color: #1e1;
  border: none;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
}
form #submit:hover {
  background-color: #048f04;

}
form input:focus, form textarea:focus {
  border: 1px solid #03aeb4;
}
.show-password {
  width: 96%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
}
.show-password input {
  width: 95% !important;
}
.show-password span {
  width: 25px;
}
.show-password .svg {
  width: 20px;
  cursor: pointer;
}
.new-user {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 50px;
}
.new-user a {
  text-decoration: none;
  color: #e8e8e8;
  transition: 0.2s;
}
.new-user .underline {
  text-decoration: underline;
}
.new-user a:hover {
  color: #0385ff;
}
/* NOTIFICATION MESSAGE */
.tips {
  width: 50vw;
  height: 50px;
  position: absolute;
  top: 10px;
  margin-left: 25%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  z-index: 100;
}
.success {
  background-color: #1e1;
}
.error {
  background-color: #e11;
}
